bin/Debug/net5.0/MinimumWaitTime.deps.json
bin/Debug/net5.0/MinimumWaitTime.dll
bin/Debug/net5.0/MinimumWaitTime.pdb
bin/Debug/net5.0/MinimumWaitTime.runtimeconfig.dev.json
bin/Debug/net5.0/MinimumWaitTime.runtimeconfig.json
bin/Debug/net5.0/ref/MinimumWaitTime.dll
obj/MinimumWaitTime.csproj.nuget.dgspec.json
obj/MinimumWaitTime.csproj.nuget.g.props
obj/MinimumWaitTime.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/MinimumWaitTime.AssemblyInfo.cs
obj/Debug/net5.0/MinimumWaitTime.AssemblyInfoInputs.cache
obj/Debug/net5.0/MinimumWaitTime.assets.cache
obj/Debug/net5.0/MinimumWaitTime.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/MinimumWaitTime.csproj.FileListAbsolute.txt
obj/Debug/net5.0/MinimumWaitTime.csprojAssemblyReference.cache
obj/Debug/net5.0/MinimumWaitTime.dll
obj/Debug/net5.0/MinimumWaitTime.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/MinimumWaitTime.genruntimeconfig.cache
obj/Debug/net5.0/MinimumWaitTime.pdb
obj/Debug/net5.0/ref/MinimumWaitTime.dll
